<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento de Consulta</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <div class="con-menu">
        <button onclick="handleClick(event, 'con-links')" class="active">
            Agendamentos
        </button>
        <button onclick="handleClick(event, 'con-posts')">
            Profissionais 
        </button>
       <a href="land.html">          
        <button onclick="voltarParaTelaEspecifica()">Voltar</button>

<script>
    function voltarParaTelaEspecifica() {
        // Use history.go(-n) para voltar a uma página específica no histórico
        // Substitua 'n' pelo número de páginas que você deseja retroceder
        history.go(-2); // Por exemplo, retroceder 2 páginas
    }
</script>
    </a>
    </div>


    <style>
        body {
    font-family: Arial, sans-serif;
    text-align: center;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

.book-button {
    background-color: #00bfff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.book-button:hover {
    background-color: #0080ff;
}

    </style>

    <h1>Agendamento de Consulta</h1>
    <form action="AgendamentoServlet" method="post">
    <table class="schedule">
        <tr>
            <th>Horário</th>
            <th>Especialidade</th>
            <th>Disponibilidade</th>
        </tr>
        <!-- Adicione os horários fixos e suas especialidades aqui -->
        <tr>
            <td id="horario">09:00 - 10:00</td>
            <td id="Categoria">Dentista</td>
            <td><input type="submit" value="Agendar"></td>
        </tr>
        <tr>
            <td>10:00 - 11:00</td>
            <td>Dentista</td>
            <td> <input type="submit" value="Agendar"></td>
        </tr>
        <!-- Adicione mais horários e especialidades conforme necessário -->
    </table>
</form>
    <script src="script.js"></script>
</body>
</html>
