
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

.wrap {
    width: 50%;
}


.registro{
    float:left;
    width: 50%;
    display: inline-block
}


.carousel1{
float:right;
width: 50%;
   display: inline-block

}
